################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BMPTrains 2020/v15/Server/sqlite3/db.lock
/.vs/BMPTrains 2020/FileContentIndex/cd67ec20-1a45-4f80-a8e0-fe6f540595b0.vsidx
